body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* GUESSED 10px instead of 8px */
  padding: 8px;
}

.title {
  background: #e3f4ff;
  /* GUESSED 10px bottom padding instead of 8px */
  margin: 0px 0px 8px 0px;
  padding: 8px;
  /* FORGOT TO REDUCE FONT SIZE */
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  /* GUESSED 20px and 10px instead of 24px and 8px*/
  padding: 8px 24px;
  margin: 0px auto;
}
